.main-section {
    border: 1px solid red;
    background-color: #d4f710;
    display: flex;
}

.card-container {
    margin: 50px 50px 0px 50px;
    border: 1px solid red;
    width: 200px;
    height: 200px;
    background-color: white;
}