@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.main-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 17fr;
}

.content-container {
    display: grid;
    grid-template-rows: 0.6fr 2fr;
}

/* card section */
.card {
  display: grid;
  justify-content: center;
  height: 8rem;
  width: 18rem;
  border-radius: .3rem;
  box-shadow: 5px 10px 25px 2px rgb(95, 95, 95);
  transition: transform 0.3s ease;
  text-align: center;
  background-color: #1d1d2c;
  color: aliceblue;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-header *{
    font-size: 30px;
}

.card-header h1{
    font-family: Montserrat;
}

.card:hover,
.card:focus-visible {
  transform: translateY(-10px);
}


/* report section */
.report-section {
    /* border: 2px solid rgb(255, 68, 34); */
    width: 100%;
    justify-self: center;
}
